/* *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

section{
    font-size: 60px;
    color: blueviolet;
}

h1{
    font-size: 5rem;
}

ul{

}

li{
    display: inline;
    list-style: none;
}

a{
    text-decoration: none;
    color: red;
    font-size: 1rem;
} */

-----------------------------------------

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 400;
    }

ul li {
    display: inline;
    }

a{
    text-decoration: none;
    list-style: none;
    margin: 30px;
    color: blue;
}


